---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <!-- link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" -->
    <!-- link rel="stylesheet" href="/assets/css/style.css?v=fb09602489b04664b3df7c20de62170ba7639e8f" -->
    <link rel="shortcut icon" type="image/x-icon" href="/favico.ico">    
</head>
<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        {% include footer.html %}
    </footer>